{% extends 'portfolio/base.html' %}

{% block title %}Домашняя страница {% endblock %}

{% block content %}
{% load static %}
<style>
    .portfoilio-main-content {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px;
    }

    #size-image {
        text-align: center;
        padding-bottom: 20px;
        max-width: 100%;

    }

    h1 {
        padding-left: 50px;


    }

    .word {
        width: 500px;
        padding: 10px;
    }

    p img {
        height: 600px;

    }
</style>
<p id="size-image"><img src="{% static 'portfolio/img/me.jpg' %}" height=600px id="space"></p><br><br>
<h1><b>Мои портфолио:</b></h1><br>
<div class="portfoilio-main-content">
    {% for project in projects%}
    <div class="portfolio">
        <h3>{{ project.title }}</h3>
        <p class="word">{{ project.description }}</p>
        <a href="{{ project.url }}" target="_blank"> <img src="{{ project.image.url }} " height=300px class="image"></a>
    </div>
    {% endfor %}
</div>

{% endblock %}